Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
series = pd.Series([4,8,15,16,23,42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
variable = [2,87,23,12,5,9,34,67,45,12]
s1 = pd.Series(variable)
print(s1)

0     2
1    87
2    23
3    12
4     5
5     9
6    34
7    67
8    45
9    12
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data: 

        |Name                |Age              |Gender 
        |Alice               |25               |Female
        |Bob                 |30               |Male
        |Claire              |27               |Female

Then, print the DataFrame.

In [3]:

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In Pandas, a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate data in a way that is similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type. DataFrames are one of the most commonly used data structures in Pandas, and they offer a flexible and powerful way to work with structured data.

On the other hand, a Pandas Series is a one-dimensional array-like object that can hold data of any type, including integers, floats, strings, or even more complex objects. Each element in a Series is associated with an index

In [4]:
series = pd.Series([4,8,15,16,23,42])
print("Series")
print(series)

Series
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame")
print(df)

DataFrame
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [6]:
# to read a csv file we use pd.read_csv
data = pd.read_csv("IRIS.csv")
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

df[df['column_name'] >= value]: To filter rows based on a condition. Example: Selecting all rows where the 'sepal_length' column is greater than 5.0

In [9]:
filtered_data = data[data['sepal_length'] >= 5]

In [10]:
filtered_data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[128 rows x 5 columns]

shape: This attribute returns a tuple with the number of rows and columns in the DataFrame.

In [11]:
num_rows, num_columns = data.shape

In [14]:
(num_rows , num_columns)

(150, 5)

describe(): This function generates summary statistics for numerical columns in the DataFrame, providing information like mean, standard deviation, minimum, maximum, and quartiles.

In [15]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

info(): This function displays a concise summary of the DataFrame, including data types and non-null values in each column.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the Series and DataFrame are mutable, whereas the Panel is not mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:


# Create multiple Series
series1 = pd.Series([1, 2, 3, 4, 5], name='Column1')
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'], name='Column2')
series3 = pd.Series([0.1, 0.2, 0.3, 0.4, 0.5], name='Column3')

# Create a DataFrame using the Series
df = pd.DataFrame({'Column1': series1, 'Column2': series2, 'Column3': series3})

# Display the DataFrame
df

   Column1 Column2  Column3
0        1       A      0.1
1        2       B      0.2
2        3       C      0.3
3        4       D      0.4
4        5       E      0.5